<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-extended.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
   
    <div class="container">
        <div id="signup">
            <div class="row justify-content-center">
                <h1>Welcome to StyleGrid</h1>
                <p class="text-center">It’s time to get styling. For us to be able to find your perfect stylist, we will need to find out a
                    little more information about your tastes and style preferences.</p><br>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="text-right">
                        <input type="checkbox" name="fordCheckBox" id="check-1" value="check-1" checked="true">
                        <label for="check-1"></label>
                    </div>
                    <label for="check-1">
                        <input type="checkbox" name="fordCheckBox" id="check-1" value="check-1">
                        <div class="text-center"><img src="assets/images/shop.png" class="img-fluid" alt="">
                            <h2 class="mt-2">Shop</h2>
                            <h5>Browse luxury product that you can access through your StyleGrid membership.</h5>
                            <button class="select-btn mt-2">Select</button>
                        </div>
                    </label>
                </div>
                <div class="col-md-4">
                    <div class="text-right">
                        <input type="checkbox" name="fordCheckBox" id="check-2" value="check-2" >
                        <label for="check-2"></label>
                    </div>
                    <label for="check-2">
                        <input type="checkbox" name="fordCheckBox" id="check-2" value="check-2">
                        <div class="text-center"><img src="assets/images/style.png" class="img-fluid" alt="">
                            <h2 class="mt-2">Shop</h2>
                            <h5>Receive personalised luxury fashion, beauty and homeware all in one place.</h5>
                            <button class="select-btn mt-2">Select</button>
                        </div>
                    </label>
                </div>
                <div class="col-md-4">
                    <div class="text-right">
                        <input type="checkbox" name="fordCheckBox" id="check-3" value="check-3" >
                        <label for="check-3"></label>
                    </div>
                    <label for="check-3">
                        <input type="checkbox" name="fordCheckBox" id="check-3" value="check-3">
                        <div class="text-center"><img src="assets/images/source.png" class="img-fluid" alt="">
                            <h2 class="mt-2">Source</h2>
                            <h5>Source any item from around the globe using our expansive shopper network.</h5>
                            <button class="select-btn mt-2">Select</button>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right mr-5 ">
        <a href="signup-2.html"><button type="submit" class="next-btn">Next</button></a>
    </div>

</body>

</html>