<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" >
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-extended.css"> -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
 <div class="container">
        <div id="signup-5">
            <div class="row justify-content-center" style="margin:0px ;">
                <h1>Thank you. It’s time to meet your stylist.</h1>
                <p class="text-center">Welcome to StyleGrid. Using your information, 
                    we have matched you with one of our stylists. You will be able to request product, shop luxury brands and receive unlimited styling through your dedicated style dashboard.</p><br>

            </div>
           <div class="row">
            <div class="col-md-5 text-lg-left text-center">
                <img src="./assets/images/IMG_0104 1.png" alt="">
            </div>
            <div class="col-md-7 text-lg-left text-center">
                <h4>Francesca</h4>
                <p class="new-para text-lg-left text-center">Francesca’s extensive experience is afforded through years of working with prestigious fashion houses including Browns and Net-A-Porter in addition to privately dressing discerning men and women across the globe <br>
                    <br><br>Your lifestyle, personality, needs and desires as the foremost priority. Believing your wardrobe should resemble you, and enable you to enter a room with confidence, poise, elegance and self-assurance. I believe everyone deserves an individual style, which we can often easily get lost in this fast paced fashion industry.</p>
                    <div class="mt-2">
                        <a href="signup.html"><button type="submit" class="styling-btn px-3 ">Let’s get styling</button></a>
                    </div>
                </div>
           </div>
        </div>
    </div>
    

</body>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" ></script>
</html>