<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="./assets/images/STYLEGRID-LOGO.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="active nav-item px-3 py-2"><a href="#" class="nav-link">About <span
                            class="sr-only">(current)</span></a></li>
                <li class="px-3 nav-item py-2"><a href="#" class="nav-link">NEW IN</a></li>
                <li class="px-3 nav-item py-2"><a href="#" class="nav-link">EDITS</a></li>
                <li class="px-3 nav-item py-2"><a href="#" class="nav-link">SHOP</a></li>
                <li class="px-3 nav-item py-2"><a href="#" class="nav-link">STYLE</a></li>
                <li class="px-3 nav-item py-2"><a href="#" class="nav-link">SOURCE</a></li>
                <li class="px-3 nav-item py-2"><a href="#" class="nav-link">MEMBERSHIP</a></li>
                <li class="px-3 nav-item py-2"><a href="#" class="nav-link">BRANDS</a></li>
                <li class="px-3 nav-item py-2"><a href="#" class="nav-link">EDITORIAL</a></li>
                <li class="px-3 nav-item py-2"><a href="#" class="nav-link">SIGN IN</a></li>
                <li class="px-3 nav-item py-2"><a href="#" class="nav-link"><button class="signup-btn">Sign
                            Up</button></a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div id="step1">
            <h1>Sign up to StyleGrid</h1>
            <p class="mx-md-5 px-md-5">When you become a StyleGrid member, you’ll enjoy all the benefits of our
                platform
                from your very own
                personal stylist to shopping luxury product on-demand. Enjoy a 30 day free trial for a limited time
                only.</p>
        </div>
        <div class="row my-3 pt-3">
            <div class="col-lg-6 signup-bg-img">
                <div class="layer"></div>
                <div class="text-center mt-5 pt-5 px-4">
                    <h2>Enjoy a 30 day<br> free trial.</h2>
                    <p>Create your account today and enjoy a 30 day free trial, with access to a dedicated stylist
                        and exclusive luxury product.</p>
                    <div class="mt-5"><a href="multistep-signup.html"> <button class="signup-btn-1 px-4 py-1">Sign
                                Up</button></a></div>
                </div>
            </div>
            <div class=" col-lg-6 signup-bg-img-1">
                <div class="layer"></div>
                <div class="text-center mt-5 pt-5 px-4">
                    <h2>Are you a stylist?<br> Sign up here.</h2>
                    <!-- <p>Create your account today and enjoy a 30 day free trial, with access to a dedicated stylist
                        and exclusive luxury product.</p> -->
                    <div class="mt-5 pt-4"><a href="multistep-signup.html"> <button class="signup-btn-1 px-4 py-1">Sign
                                Up</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>